#content-container{
    padding: 2em;
}
.blogcard img{
    max-width: 350px;
}
.blogcard h3{
    font-weight: 700;
}
.blogcard p{
    font-weight: 400;
}
.blogtag{
    background-color: grey;
    font-size: 0.75rem;
    padding: 0.5em 0.75em;
    color: white;
    border-radius: 24px;
}